.landing {
	min-height: 100vh;
	background-color: white;
}

#navbar {
	display: flex;
}

#navbar a {
	padding: 0px 10px;
	color: black;
}

#navbar a:hover {
	color: #3284f1;
}

.active-link {
	color: #3284f1 !important;
}


